                 <div class="dynamic_list" >
                    <ul>
                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="title" >
                                    <a href="#" >中国为毛出不了大师</a>
                                </div>
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="title" >
                                    <a href="#" >中国为毛出不了大师</a>
                                </div>
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="title" >
                                    <a href="#" >中国为毛出不了大师</a>
                                </div>
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="title" >
                                    <a href="#" >中国为毛出不了大师</a>
                                </div>
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="title" >
                                    <a href="#" >中国为毛出不了大师</a>
                                </div>
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dynamic_head" >
                                <a href="#">
                                    <img src="{{ STATIC_URL }}image/yj1.jpg"  />
                                </a>
                                <span>xxx</span>
                                <span>云南大学</span>
                            </div>
                            <div class="dynamic_blog" >
                                <div class="content" >
                                    代号撸一撸
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                    - 在研发一个“摇动能量采集器”的特性，采集后会捐赠做公益
                                    - 来福枪的声音（最早对女生是丁玲声之类，后来发现这个更好）
                                    - 过程动画由“维纳斯”变为“小花”（大家对维纳斯这种艺术有挑战，so花，即菊花）
                                    - 摇的过程可以“插”（即换背景图，很多女生都发现了）
                                    - 这里的体验是最原始的（性），体验要让你很爽
                                </div>
                                <div class="review" >
                                    <span class="review_content" >
                                        <a href="#" style="" >评论(999)</a>
                                        <a href="#" style="" >转播(99)</a>
                                        <a href="#" style="" >收藏</a>
                                    </span>
                                    <span class="review_time" >
                                        <a href="#">2011-12-22 23:05</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>