  

                <div class="dynamic" >
                    <div class="user_head" >
                        <a href="#" >
                            <img src="{{ STATIC_URL }}image/yj1.jpg" height="100" width="100" />
                        </a>
                    </div>
                    <div class="micro_content">
                        <textarea  placeholder="沟通从表达开始，你想说..." >{{ message }}</textarea>
                    </div>

                    <div class="dynamic_action" >
                        <a href="#" >发布</a>
                    </div>

                </div>
                