 <div class="jqmWindow">
            <div id="sc" class="box_content" >
                <div class="school_content"  >
                    <h3>城市</h3>
                    <div class="province">
                        <ul>
                            <li>
                                <a onclick="catch_college(110000)" href="javascript:void(0)">北京</a>
                            </li>

                            <li>
                                <a onclick="catch_college(120000)" href="javascript:void(0)">天津</a>
                            </li>

                            <li>
                                <a onclick="catch_college(130000)" href="javascript:void(0)">河北</a>
                            </li>

                            <li>
                                <a onclick="catch_college(140000)" href="javascript:void(0)">山西</a>
                            </li>

                            <li>
                                <a onclick="catch_college(150000)" href="javascript:void(0)">内蒙古</a>
                            </li>

                            <li>
                                <a onclick="catch_college(210000)" href="javascript:void(0)">辽宁</a>
                            </li>

                            <li>
                                <a onclick="catch_college(220000)" href="javascript:void(0)">吉林</a>
                            </li>

                            <li>
                                <a onclick="catch_college(230000)" href="javascript:void(0)">黑龙江</a>
                            </li>

                            <li>
                                <a onclick="catch_college(310000)" href="javascript:void(0)">上海</a>
                            </li>

                            <li>
                                <a onclick="catch_college(320000)" href="javascript:void(0)">江苏</a>
                            </li>

                            <li>
                                <a onclick="catch_college(330000)" href="javascript:void(0)">浙江</a>
                            </li>

                            <li>
                                <a onclick="catch_college(340000)" href="javascript:void(0)">安徽</a>
                            </li>

                            <li>
                                <a onclick="catch_college(350000)" href="javascript:void(0)">福建</a>
                            </li>

                            <li>
                                <a onclick="catch_college(360000)" href="javascript:void(0)">江西</a>
                            </li>

                            <li>
                                <a onclick="catch_college(370000)" href="javascript:void(0)">山东</a>
                            </li>

                            <li>
                                <a onclick="catch_college(410000)" href="javascript:void(0)">河南</a>
                            </li>

                            <li>
                                <a onclick="catch_college(420000)" href="javascript:void(0)">湖北</a>
                            </li>

                            <li>
                                <a onclick="catch_college(430000)" href="javascript:void(0)">湖南</a>
                            </li>

                            <li>
                                <a onclick="catch_college(440000)" href="javascript:void(0)">广东</a>
                            </li>

                            <li>
                                <a onclick="catch_college(450000)" href="javascript:void(0)">广西</a>
                            </li>

                            <li>
                                <a onclick="catch_college(460000)" href="javascript:void(0)">海南</a>
                            </li>

                            <li>
                                <a onclick="catch_college(500000)" href="javascript:void(0)">重庆</a>
                            </li>

                            <li>
                                <a onclick="catch_college(510000)" href="javascript:void(0)">四川</a>
                            </li>

                            <li>
                                <a onclick="catch_college(520000)" href="javascript:void(0)">贵州</a>
                            </li>

                            <li>
                                <a onclick="catch_college(530000)" href="javascript:void(0)">云南</a>
                            </li>

                            <li>
                                <a onclick="catch_college(540000)" href="javascript:void(0)">西藏</a>
                            </li>

                            <li>
                                <a onclick="catch_college(610000)" href="javascript:void(0)">陕西</a>
                            </li>

                            <li>
                                <a onclick="catch_college(620000)" href="javascript:void(0)">甘肃</a>
                            </li>

                            <li>
                                <a onclick="catch_college(630000)" href="javascript:void(0)">青海</a>
                            </li>

                            <li>
                                <a onclick="catch_college(640000)" href="javascript:void(0)">宁夏</a>
                            </li>

                            <li>
                                <a onclick="catch_college(650000)" href="javascript:void(0)">新疆</a>
                            </li>

                            <li>
                                <a onclick="catch_college(710000)" href="javascript:void(0)">台湾</a>
                            </li>

                            <li>
                                <a onclick="catch_college(810000)" href="javascript:void(0)">香港</a>
                            </li>

                            <li>
                                <a onclick="catch_college(820000)" href="javascript:void(0)">澳门</a>
                            </li>

                        </ul>
                    </div>

                    <h3>大学</h3>
                    <div class="university">
                        <ul>


                            <li>
                                <a onclick="catch_school(this,1001)" href="javascript:void(0)">清华大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1002)" href="javascript:void(0)">北京大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1003)" href="javascript:void(0)">中国人民大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1004)" href="javascript:void(0)">北京航空航天大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1005)" href="javascript:void(0)">北京邮电大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1006)" href="javascript:void(0)">北京师范大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1007)" href="javascript:void(0)">中国传媒大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1008)" href="javascript:void(0)">北京语言大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1009)" href="javascript:void(0)">北京科技大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1010)" href="javascript:void(0)">中国农业大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1011)" href="javascript:void(0)">北京理工大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1012)" href="javascript:void(0)">北京林业大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1013)" href="javascript:void(0)">北京交通大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1014)" href="javascript:void(0)">中国矿业大学（北京）</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1015)" href="javascript:void(0)">北京信息科技大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1016)" href="javascript:void(0)">北京工业大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1017)" href="javascript:void(0)">北京化工大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1018)" href="javascript:void(0)">中国政法大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1019)" href="javascript:void(0)">对外经贸大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1020)" href="javascript:void(0)">中央民族大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1021)" href="javascript:void(0)">中国地质大学（北京）</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1022)" href="javascript:void(0)">中科院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1023)" href="javascript:void(0)">北京中医药大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1024)" href="javascript:void(0)">首都经济贸易大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1025)" href="javascript:void(0)">中央财经大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1026)" href="javascript:void(0)">北方工业大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1027)" href="javascript:void(0)">中国石油大学（北京）</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1028)" href="javascript:void(0)">外交学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1029)" href="javascript:void(0)">首都师范大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1030)" href="javascript:void(0)">中央戏剧学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1031)" href="javascript:void(0)">中国青年政治学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1032)" href="javascript:void(0)">北京外国语大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1033)" href="javascript:void(0)">华北电力大学（北京）</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1034)" href="javascript:void(0)">中国人民公安大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1035)" href="javascript:void(0)">中国协和医科大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1036)" href="javascript:void(0)">北京体育大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1037)" href="javascript:void(0)">北京工商大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1038)" href="javascript:void(0)">北京联合大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1039)" href="javascript:void(0)">首都医科大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1040)" href="javascript:void(0)">国际关系学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1041)" href="javascript:void(0)">中央美术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1042)" href="javascript:void(0)">北京电子科技学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1043)" href="javascript:void(0)">中国劳动关系学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1044)" href="javascript:void(0)">中华女子学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1045)" href="javascript:void(0)">北京建筑工程学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1046)" href="javascript:void(0)">北京印刷学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1047)" href="javascript:void(0)">北京石油化工学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1048)" href="javascript:void(0)">首钢工学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1049)" href="javascript:void(0)">北京农学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1050)" href="javascript:void(0)">首都体育学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1051)" href="javascript:void(0)">北京第二外国语学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1052)" href="javascript:void(0)">北京物资学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1053)" href="javascript:void(0)">北京警察学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1054)" href="javascript:void(0)">中央音乐学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1055)" href="javascript:void(0)">中国戏曲学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1056)" href="javascript:void(0)">北京舞蹈学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1057)" href="javascript:void(0)">北京城市学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1058)" href="javascript:void(0)">北京电影学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1059)" href="javascript:void(0)">北京服装学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1060)" href="javascript:void(0)">北京工商大学嘉华学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1061)" href="javascript:void(0)">首都师范大学科德学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1062)" href="javascript:void(0)">北京工业大学耿丹学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1063)" href="javascript:void(0)">北京化工大学北方学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1064)" href="javascript:void(0)">北京联合大学广告学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1065)" href="javascript:void(0)">北京邮电大学世纪学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1066)" href="javascript:void(0)">北京大学医学部</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1067)" href="javascript:void(0)">北京政法职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1068)" href="javascript:void(0)">北京信息职业技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1069)" href="javascript:void(0)">北京现代职业技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1070)" href="javascript:void(0)">北京现代音乐研修学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1071)" href="javascript:void(0)">北京戏曲艺术职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1072)" href="javascript:void(0)">北京锡华国际经贸职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1073)" href="javascript:void(0)">北京盛基艺术学校</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1074)" href="javascript:void(0)">北京培黎职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1075)" href="javascript:void(0)">北京农业职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1076)" href="javascript:void(0)">北京科技职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1077)" href="javascript:void(0)">北京科技经营管理学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1078)" href="javascript:void(0)">北京经贸职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1079)" href="javascript:void(0)">北京经济技术职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1080)" href="javascript:void(0)">北京京北职业技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1081)" href="javascript:void(0)">北京交通职业技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1082)" href="javascript:void(0)">北京吉利大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1083)" href="javascript:void(0)">北京汇佳职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1084)" href="javascript:void(0)">北京工业职业技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1085)" href="javascript:void(0)">北京工商管理专修学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1086)" href="javascript:void(0)">北京电子科技职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1087)" href="javascript:void(0)">北京财贸职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1088)" href="javascript:void(0)">北京北大方正软件技术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1089)" href="javascript:void(0)">北大资源美术学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1090)" href="javascript:void(0)">北京人文大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1091)" href="javascript:void(0)">北京高等秘书学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1092)" href="javascript:void(0)">北京应用技术大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1093)" href="javascript:void(0)">中国防卫科技学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1094)" href="javascript:void(0)">中国音乐学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1095)" href="javascript:void(0)">中国信息大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1096)" href="javascript:void(0)">北京青年政治学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1097)" href="javascript:void(0)">北京财经专修学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1098)" href="javascript:void(0)">北京经济管理职业学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1099)" href="javascript:void(0)">北京美国英语语言学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1100)" href="javascript:void(0)">中国管理软件学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1101)" href="javascript:void(0)">财政部财政科学研究所</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1102)" href="javascript:void(0)">北大资源学院</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1103)" href="javascript:void(0)">北京现代管理大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1104)" href="javascript:void(0)">网络销售大学</a>
                            </li>

                            <li>
                                <a onclick="catch_school(this,1105)" href="javascript:void(0)">朝阳二外</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>