{% extends 'setting/base.html' %}

{% block content %}

				<div class="setting" >
                    {% if G.success %}
                      <p class="tip" >修改成功</p>
                    {% endif %}
                    <form action='/setting/password/' method='post' >
                        <p>
                            <label for="oldpassword" >旧密码</label>
                            {{ form.oldpassword}}
                            <span class='error' >

                                {% for error in form.oldpassword.errors %}
                                    {{ error }}
                                {% endfor %}

                                {{ errors.incorrect }}

                            </span>
                        </p>

                        <p>
                            <label for="newpassword" >新密码</label>
                            {{ form.newpassword }}
                            <span class='error' >
                                {% for error in form.newpassword.errors %}
                                  {{ error }}
                                {% endfor %}
                                {{ errors.newpwerror }}
                            </span>
                            
                            
                        </p>

                        <p>
                            <label for="newpasswordagain" >再次确认</label>
                           {{ form.newpasswordagain }}
                           <span class='error' >
                                {% for error in form.newpasswordagain.errors %}
                                  {{ error }}
                                {% endfor %}
                            </span>
                        </p>
                        
                        <p>
                            <input type="submit"  class="action" value="确认修改" />
                        </p>
                    </form>
                </div>

{% endblock %}