				<div class="user_sub_menu" >
                    <ul>
                    	<li><a href="/setting/" >基本信息</a></li>
                        <li><a href="/setting/profile/" >个人资料</a></li>
                        <li><a href="/setting/school/" >院校信息</a></li>
                        <li><a href="/setting/url/" >个性域名</a></li>
                        <li><a href="/setting/password/" >密码修改</a></li>
                        <li style='border-right:none' ><a href="/setting/account/" >账号修改</a></li>
                    </ul>  
                </div>