{% extends 'ask/i/base.html' %}


{% block content %}

			    <div class="ask" >
                    <h1><a href="#" >三月沙</a></h1>
                    <div class="askme" >
                        <div class="question" >
                            <h2><a href="#" >大型网站的 MySQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <div class="more" >
                                <a href="#" >3个回答</a>
                                <span>已添加</span>
                                <a href="#" >mysql</a>
                                <a href="#" >数据库设计</a>
                                <span>主题</span>
                                <span style="margin-left: 15px;" >创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                        <div class="question" >
                            <h2><a href="#" >大型网站的 MySQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑,想知道大型网站的设计是个怎么回事？</a></h2>
                            <div class="more" >
                                <a href="#" >3个回答</a>
                                <span>已添加</span>
                                <a href="#" >mysql</a>
                                <a href="#" >数据库设计</a>
                                <a href="#" >主键</a>
                                <a href="#" >联合主键</a>
                                <a href="#" >网页设计</a>
                                <span>主题</span>
                                <span style="margin-left: 15px;" >创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                    </div>
                    <h1><a href="#" >三月沙</a></h1>
                    <div class="askme" >
                        <div class="question" >
                            <h2><a href="#" >大型网站的 MySQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <div class="more" >
                                <a href="#" >3个回答</a>
                                <span>已添加</span>
                                <a href="#" >mysql</a>
                                <a href="#" >数据库设计</a>
                                <span>主题</span>
                                <span style="margin-left: 15px;" >创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                        <div class="question" >
                            <h2><a href="#" >大型网站的 MySQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑,想知道大型网站的设计是个怎么回事？</a></h2>
                            <div class="more" >
                                <a href="#" >3个回答</a>
                                <span>已添加</span>
                                <a href="#" >mysql</a>
                                <a href="#" >数据库设计</a>
                                <a href="#" >主键</a>
                                <a href="#" >联合主键</a>
                                <a href="#" >网页设计</a>
                                <span>主题</span>
                                <span style="margin-left: 15px;" >创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                    </div>
                </div>

                

{% endblock %}

