{% extends 'base/base.html' %}
     
{% block style %}

<style type="text/css">
.login_form{
    margin-top:25px;
}
</style>

{% endblock %}
        
{% block main %}

                <div class="our_goal" >
                    <h3>我们是什么</h3>
                    <ul>
                        <li>
                            <p>一个更具活力和创造力的校园互动社区</p>
                        </li>
                        <li>
                            <p>一个由你参与，由你创造，由你分享的校园互动社区</p>
                        </li>
                    </ul>
                    <h3>我们能提供你什么</h3>
                    <ul>
                        <li>
                            <p>帮助你发现身边你真正感兴趣的人</p>
                        </li>
                        <li>
                            <p>记录分享你大学生活的一点一滴</p>
                        </li>
                        <li>
                            <p>快捷方便的校园信息发布和获取平台</p>
                        </li>
                        <li>
                            <p>社团，小组，话题，活动，求助，让你的大学生活更有意义</p>
                        </li>
                        <li>
                            <p>与你志趣相投的人一起互动，交流，分享，创造</p>
                        </li>
                    </ul>
                    <h3>我们的目标是什么</h3>
                    <ul>
                        <li>
                            <p>
                                每个人的青春都与众不同，你应该和你志同道合的人做更有价值的事情,所以找到他们，与他们共舞，我们给你提供机会和舞台
                            </p> 
                        </li>
                        <li>
                            <p>
                                你赶上一个高等教育泛滥的时代，我们也是，但这不应该成为你平平淡淡或者浑浑噩噩度过大学时光的理由，让我们一起让它更有价值  
                            </p> 
                        </li>
                    </ul>
                </div>


                {% include 'section/login_section.html'%}

{% endblock %}