{% extends 'ask/i/base.html' %}

{% block content %}

			    <div class="ask" >
                    <h1><a href="#" >三月沙</a><span style="color:#666;" >&nbsp;请你回答:</span></h1>
                    <div  class="askme">
                        <div class="question" >
                            <h2><a href="#" >大型网站的 iSQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <span class="ianswer">我的回答:</span>
                            <div class="ianswer">
                                大多数人都是在被生活所驱使，重要的事开始倾听内心声音并且有勇气在生活中尝试和坚持，舍此，说得再多都是扯淡.不是每个人都是乔布斯，但是每个人都有成为乔布斯的可能
                            </div>
                            <div class="ianswertime">
                                <span>创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                        <div class="question" >   
                            <h2><a href="#" >大型网站的 iSQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <span class="ianswer">我的回答:</span>
                            <div class="ianswer">
                                大多数人都是在被生活所驱使，重要的事开始倾听内心声音并且有勇气在生活中尝试和坚持，舍此，说得再多都是扯淡.不是每个人都是乔布斯，但是每个人都有成为乔布斯的可能
                            </div>
                            <div class="ianswertime">
                                <span>创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                    </div>


                    <h1><a href="#" >木青雨</a><span style="color:#666;" >&nbsp;请你回答:</span></h1>
                    <div  class="askme">
                        <div class="question" >
                            <h2><a href="#" >大型网站的 iSQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <span class="ianswer">我的回答:</span>
                            <div class="ianswer">
                                大多数人都是在被生活所驱使，重要的事开始倾听内心声音并且有勇气在生活中尝试和坚持，舍此，说得再多都是扯淡.不是每个人都是乔布斯，但是每个人都有成为乔布斯的可能
                            </div>
                            <div class="ianswertime">
                                <span>创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                        <div class="question" >   
                            <h2><a href="#" >大型网站的 iSQL 数据库设计有没有使用联合主键的，如果有，是出于什么样的考虑？</a></h2>
                            <span class="ianswer">我的回答:</span>
                            <div class="ianswer">
                                大多数人都是在被生活所驱使，重要的事开始倾听内心声音并且有勇气在生活中尝试和坚持，舍此，说得再多都是扯淡.不是每个人都是乔布斯，但是每个人都有成为乔布斯的可能
                            </div>
                            <div class="ianswertime">
                                <span>创建于:2012-12-09 12:09</span>
                            </div>
                        </div>
                    </div>
            </div>

                

{% endblock %}

