{% extends 'base/base.html' %}

{% block style %}
    <style type="text/css">

    .error{
        color: #d21a00;
        padding: 20px;
    }

    .tip{
        color: #DDD;
    }


    </style>

{% endblock %}



{%  block main  %}

	 {% if G.reseted and not G.wrong %}
	 
	    <p/ style='margin-top:150px;margin-bottom:100px;' >密码设置成功请点击<a href='/accounts/login/' >登录</a></p>

    {% endif %}

    {% if not G.reseted %}

			<div class='resetpassword' >
		    	<h3>重设密码</h3>
		        <form action=''  method='post' >
	              <p>
	              	<label for='newpassword' >新的密码</label>
                      {{ form.newpassword }}
	                <span class="error" >
	                                {% for error in form.newpassword.errors %}
	                                    {{ error }}
	                                {% endfor %}
	                </span>
	              </p>

                   <p>
                    <label for='newpasswordagain' >再次确认</label>
                     {{ form.newpasswordagain }}
                    <span class="error" >
                                    {% for error in form.newpasswordagain.errors %}
                                        {{ error }}
                                    {% endfor %}
                    </span>
                  </p>
	              <p>
	                <input type='submit' id='submit' value='确认' />
                  <br>
                  <a href="/" style='display:inline-block;margin-left:70px;margin-top:30px' >返回首页</a>
	              </p>
		    	</form>
		    </div>

	{% endif %}

    {% if G.wrong %}

         <p/ style='margin-top:150px;margin-bottom:100px;' >重置链接有误，请检查</p>

    {% endif %}

{% endblock %}