{% extends 'base/base.html' %}

{% block style %}
    <style type="text/css">

    .error{
        color: #d21a00;
        display: block;
        padding-left:65px;
    }

    .tip{
        color: #DDD;
    }

    p{
    	color:#4f4f4f;
    	margin: 20px;
    	font-size:16px;
    	letter-spacing: 1px;
    }

/*    a{
    	color:#ef9361;
    	font-size:16px;
    	letter-spacing: 2px;
    }*/

    .resetpassword a:hover{
        text-decoration: underline !important;
    }



    </style>

{% endblock %}



{%  block main  %}

	 {% if G.reseted %}
	 
	    <p/ style='margin-top:150px;margin-bottom:100px;' >邮件已经发送,请到{{ G.email }}查阅邮件，重设你在linkus的密码</p>

    {% else %}

			<div class='resetpassword' >
		    	<h3>重设密码</h3>
		        <form action='/accounts/resetpassword/'  method='post' >
	              <p>
                    <span class="error" >
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                        {{ errors.no_existed }}
                    </span>
	              	<label for='email' >邮箱</label>
                        {{ form.email }}
	              </p>
	              <p>
	                <input type='submit' class="button" id='submit' value='重设密码' />
                    <br>
                    <a href="/" style='color:#4071D3;font-size:14px;text-decoration:none;display:inline-block;margin-top:30px' >返回首页</a>
	              </p>
		    	</form>
		    </div>
	{% endif %}
{% endblock %}