<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        {% block title %}
          <title>{{ pagetitle }}</title>
        {% endblock %}
        
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="{{ STATIC_URL }}css/site.css?{% now "U" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ STATIC_URL }}css/style.css?{% now "U" %}" rel="stylesheet" type="text/css" media="screen" />
       

     {% block style %}

     {% endblock %}

    </head>
    <body>

        <div id="nav_wrap" >
            {% include 'home/nav.html' %}
        </div>

         <div id="main_wrap" >
            <div id="main" >
                 <div class="wrap_home_content" >
                       {% block content %}

                       {% endblock %}  
                </div>
                {% block turnpage %}

                {% endblock %}
            </div>
        </div>

        {% block footer %}


            <div id="footer" >

                {% include 'base/footer.html' %}

            </div>

        {% endblock %}

        
        <script src="{{ STATIC_URL }}js/jquery-1.6.4.js" type="text/javascript" ></script>
        <script src="{{ STATIC_URL }}js/gl.js" type="text/javascript" ></script>
        {% block script %}

         {% endblock %}
    </body>
</html>